<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @student.fullname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Id class year:</strong>
  <%= @student.id_class_year %>
</p>

<p>
  <strong>Class shift:</strong>
  <%= @student.class_shift %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
