<%= form_with(model: student_in_class, local: true) do |form| %>
  <% if student_in_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_in_class.errors.count, "error") %> prohibited this student_in_class from being saved:</h2>

      <ul>
      <% student_in_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_student %>
    <%= form.number_field :id_student %>
  </div>

  <div class="field">
    <%= form.label :fullname %>
    <%= form.text_field :fullname %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :id_class_year %>
    <%= form.number_field :id_class_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
