<p id="notice"><%= notice %></p>

<h1>Student Booking In Classes</h1>

<table>
  <thead>
    <tr>
      <th>Id user</th>
      <th>Id student in class</th>
      <th>Class shift</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_booking_in_classes.each do |student_booking_in_class| %>
      <tr>
        <td><%= student_booking_in_class.id_user %></td>
        <td><%= student_booking_in_class.id_student_in_class %></td>
        <td><%= student_booking_in_class.class_shift %></td>
        <td><%= link_to 'Show', student_booking_in_class %></td>
        <td><%= link_to 'Edit', edit_student_booking_in_class_path(student_booking_in_class) %></td>
        <td><%= link_to 'Destroy', student_booking_in_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Booking In Class', new_student_booking_in_class_path %>
